<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/shopping_list.css" />
    <title>Shopping List</title>    
  </head>
<body>
  
  <h1>Account Log in</h1>

	<form action="new-user.php" style="border:1px solid">

		<div class="container">
			
  			
			<label><b>Email</b></label><br>
			<input type="text" name="email" value="Enter email" required>
  			<br>  			
			<label><b>Password</b></label><br>
			<input type="password" name="password" value="Enter Password" required>
			<br>    			
			<br>
  			<input type="button" value="Log in" onclick="window.open('dashboard', '_blank');">
			<p>New user?<a href="createAccount">Create account</a>.</p>
		</div>
	</form> 

	<body>	

</body>
</html>