<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>	
    <script type="text/javascript" src="../static/js/shopping_list.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/shopping_list.css" />
    <title>Shopping List</title>    
  </head>
<body>
	
	<h1>Create Account</h1>

	<form style="border:1px solid">

		<div class="container">
			
  			<label><b>First name</b></label><br>
			<input type="text" name="firstname" value="Enter first name" required>
  			<br>
  			<label><b>Last name</b></label><br>
			<input type="text" name="lastname" value="Enter last name" required>
			<br>
			<label><b>Address</b></label><br>
			<input type="text" name="address" value="Enter address" required>
  			<br>
			<label><b>Email</b></label><br>
			<input type="text" name="email" value="Enter email" required>
  			<br>
  			<label><b>Telephone</b></label><br>
			<input type="text" name="phone" value="Enter phone" required>
  			<br>
			<label><b>Password</b></label><br>
			<input type="password" name="password" value="Enter Password" required>
			<br>
    			<label><b>Repeat Password</b></label><br>
			<input type="password" name="repeat_password" value="Repeat Password" required>
			<br>
			<br>
			<button id="btnNewAccount"  type="button">Create Account</button>
		</div>
	</form> 
	
</body>
</html>